.carousel-item img {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
}

.btn-orange {
    background-color: #E6A563;
    color: white; 
}

.testimonial-section{
    background-color: #212E4F;
    color: white;
}

#testimonials .nav-tabs .nav-link.active {
    color:black !important;
}

.contact-section{
    background-color:rgb(250, 248, 245);
    padding-bottom: 1rem;
}
